header {
  display: flex;
  background-color: dodgerblue;
  color: white;
  font-family: Arial;
  align-items: center;
  padding: 1rem;
}

#name {
  flex: 1;
  font-size: 1.5rem;
}

#nav {
  flex: 3;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

#users {
  font-weight: bold;
}

body {
  font-family: arial;
  color: gray;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid black;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  text-align: left;
  width: 50vw;
}
