header {
  display: flex;
  background-color: dodgerblue;
  color: white;
  font-family: Arial;
  align-items: center;
  padding: 1rem;
}

#name {
  flex: 1;
  font-size: 1.5rem;
}

#nav {
  flex: 3;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

#users {
  font-weight: bold;
}

body {
  font-family: arial;
  color: gray;
}

section {
  display: flex;
  justify-content: space-between;
}

.userlist {
  display: flex;
}

.usercard {
  display: flex;
  border: 1px solid black;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  align-items: left;
  padding: 1rem;
  flex: 2;
  flex-direction: column;
}
#cardtitle {
  text-align: center;
}

.userinfo {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 33%;
}

.username {
  font-weight: bold;
  font-size: 1rem;
}

#form1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.spacer {
  flex: 1;
}

label {
  display: inline-block;
}
