header {
  display: flex;
  background-color: dodgerblue;
  color: white;
  font-family: Arial;
  align-items: center;
  padding: 1rem;
}

#name {
  flex: 1;
  font-size: 1.5rem;
}

#nav {
  flex: 3;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

#users {
  font-weight: bold;
}

body {
  font-family: arial;
  color: gray;
}

section {
  display: flex;
  justify-content: space-between;
}

.userlist {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0 0 0;
  justify-content: space-around;
}

.usercard {
  display: flex;
  border: 1px solid black;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  align-items: left;
  padding: 1rem;
  flex: 2;
  flex-direction: column;
}
#cardtitle {
  text-align: center;
}

.userinfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  align-items: center;
  flex: 0 0 33%;
}

.username {
  font-weight: bold;
  font-size: 1rem;
}

#form1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.spacer {
  flex: 1;
}

label {
  display: inline-block;
}

.cancel {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

@media (max-width: 767px) {
  .userlist {
    flex-direction: column;
  }
  #nav {
    flex-direction: column;
  }
  header {
    flex-direction: column;
  }
}
